<form {{action 'save' on='submit'}}>
    <div class="row">
        <div class="small-8 columns">
            <div class="row">
                <div class="small-12 columns">
                    {{errorMessage}}
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="player-name" class="right inline">Name:</label>
                </div>
                <div class="small-9 columns">
                    {{input id="player-name" value=model.name placeholder="Player Name"}}
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="player-email" class="right inline">Email:</label>
                </div>
                <div class="small-9 columns">
                    {{input id="player-email" value=model.email placeholder="Player Email"}}
                </div>
            </div>
            <div class="row">
                <div class="columns right small-9">
                    <ul class="button-group round even-2">
                        <li><input class="button" type="submit" value="Save"></li>
                        <li><button {{action "cancel"}}>Cancel</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
